//structure
@import 'structure/mixins';
@import 'structure/variables';
@import 'inc/template';
@import 'structure/grid';
@import 'structure/typography';

// inc
@import 'inc/imageLightbox';
@import 'inc/flexslider';

//theme
@import 'theme/base/header';
@import 'theme/base/menu_nav';
@import 'theme/base/menu_social';
@import 'theme/base/loader';
@import 'theme/base/page';
@import 'theme/base/footer';

@import 'theme/thumb_column';
@import 'theme/home';
@import 'theme/contact';
@import 'theme/blog';
@import 'theme/comments';
@import 'theme/expos_infos';
@import 'theme/bio';
@import 'theme/gallery';


*,
*:after,
*:before {
  @include box-sizing(border-box);
}


html {
	@if $custom-font-family {
		font: $font-weight #{$font-size}%/#{$line-height} $custom-font-family, $font-family;
	} @else {
		font: $font-weight #{$font-size}%/#{$line-height} $font-family;
	}
}


body {
	color:$noir;
	// Ala Trent Walton
	@include css-hyphens(auto);
	@extend %breakword;
}

#page {
	max-width: 1440px;
	margin:0 auto;
}

h1, h2, h3, h4, h5, h6 {
	color: #999999;
	font-family: $font-family;
}


/* ========= Helperclass =========== */	


%center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

%vertical-center {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}

%horizontal-center {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
}

a { 
	text-decoration:none; 
	transition: 0.2s all ease-out;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}
