.blog {

	.entry-title {
		font-size: 2.5em;
		text-transform: uppercase;
		//text-align:center;
		margin: 0;
	}

	.site-main {

		a {
			color: $noir;

			&:hover {
				color: $color-principal;
			}
		}

	}

}

.posted-on {
	font-style:italic;
	@include font-size(14px) {
	}
}

.single {

	.entry-title {

		margin: 0;
	}

	.site-main {

		.nav-links a {
			color:#fff;
		}

		a {
			color: $noir;

			&:hover {
				color: $color-principal;
			}

		}
	}

}